:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Calibri', sans-serif;

  --padding-standard: 1.25rem;
  --corners-standard: 1rem;

  --white: #FFFFFF;
  --black: #000000;
  --darkness: rgb(0, 0, 0, 0.25);

  --header-gradient: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  --content-gradient: linear-gradient(-45deg, #eee152, #e73c3c, #55d523, #ae23d5);

  --animation-basic: gradient 10s ease infinite;

  --box-shadow-standard: 0.3rem 0.3rem 0.5rem 0 var(--darkness);
  --txt-shadow-standard: 0.2rem 0.2rem 0.3rem var(--darkness);
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-weight: 400;
  font-style: normal;
}

figure, img, span, a, main, footer, header {
  margin: 0;
  padding: 0;
}

section {
  margin-bottom: 1.25rem;
}

/* HEADER STYLING */

.header {
  animation: var(--animation-basic);

  background: var(--header-gradient);
  background-size: 300% 300%;
  border-radius: var(--corners-standard);
  box-shadow: var(--box-shadow-standard);

  max-width: 100%;
  margin: var(--padding-standard);
  padding: var(--padding-standard);
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

.header > h1 {
  font-weight: 700;
  color: antiquewhite;
  text-shadow: var(--txt-shadow-standard);
}

/* LAYOUT STYLING */

.row {
  display: flex;
  flex-flow: row wrap;

  margin: var(--padding-standard);
  max-width: 100%;
}

.col-1 {
  max-width: 8.333333333333333%;
  flex: 0 0 8.333333333333333%;
}

.col-2 {
  max-width: 16.66666666666667%;
  flex: 0 0 16.66666666666667%;
}

.col-3 {
  max-width: 25%;
  flex: 0 0 25%;
}

.col-4 {
  max-width: 33.33333333333333%;
  flex: 0 0 33.33333333333333%;
}

.col-5 {
  max-width: 41.66666666666667%;
  flex: 0 0 41.66666666666667%;
}

.col-6 {
  max-width: 50%;
  flex: 0 0 50%;
}

.col-7 {
  max-width: 58.33333333333333%;
  flex: 0 0 58.33333333333333%;
}

.col-8 {
  max-width: 66.66666666666666%;
  flex: 0 0 66.66666666666666%;
}

.col-9 {
  max-width: 75%;
  flex: 0 0 75%;
}

.col-10 {
  max-width: 83.33333333333333%;
  flex: 0 0 83.33333333333333%;
}

.col-11 {
  max-width: 91.66666666666666%;
  flex: 0 0 91.66666666666666%;
}

.col-12 {
  max-width: 100%;
  flex: 0 0 100%;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  display: flex;
  flex-flow: column nowrap;
}

@media screen and (max-width:992px) {
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    max-width: 100%;
    flex: 0 0 100%;
  }
}

/* SIDEBAR STYLING */
.sidebar__heading {
  background: var(--white);
  color: var(--black);

  border-radius: var(--corners-standard);
  box-shadow: var(--box-shadow-standard);

  padding: var(--padding-standard);
  width: 100%;
}

/* MEMBER CARD STYLING */
.members__heading {
  background: var(--white);
  color: var(--black);

  border-radius: var(--corners-standard);
  box-shadow: var(--box-shadow-standard);

  padding: var(--padding-standard);
}

.member-card {
  background: var(--white);
  color: var(--black);

  border-radius: var(--corners-standard);
  box-shadow: var(--box-shadow-standard);

  padding: var(--padding-standard);
}

.member-card__image {
  position: relative;
  min-height: 17.5rem;
  width: 100%;
}

.member-card__image > img {
  border-radius: var(--corners-standard);
  position: absolute;
  object-fit: cover;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.member-card__content {
  display: flex;
  flex-flow: column nowrap;
}

/* CURRENT PARTY STYLING */
.current-party {
  background: var(--white);
  color: var(--black);

  border-radius: var(--corners-standard);
  box-shadow: var(--box-shadow-standard);

  padding: var(--padding-standard);
}

.current-party__image {
  position: relative;
  min-height: 17.5rem;
  width: 100%;
}

.current-party__image > img {
  border-radius: var(--corners-standard);
  position: absolute;
  object-fit: cover;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
